# Docker
docker/var/log
docker/var/data

# Editor directories and files
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
.DS_Store
.bash_history
.cache/
hosts

#laravel project
src/node_modules
src/public/hot
src/public/storage
src/storage/*.key
src/.env.backup
src/.phpunit.result.cache
src/Homestead.json
src/Homestead.yaml
src/npm-debug.log
src/yarn-error.log
